<%= render "partials/header-sign" %>

<div class="container">
        <% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key} text-center") %>
		<% end %>
		<div class="row profile" style="">
			<div class="col-sm-3" style="">
				<h2 class="text-center">MON PROFIL</h2>
				<div class="row text-center">
					<img class="rounded-circle" src="/images/user.png" alt="user" width="100%">
                </div>
                <div class="row line-2">
					<table class="table table-hover">
						<tr>
							<th>NOM</th>
							<td><%= current_user.name %></td>
						</tr>
						<tr>
							<th>PRENOM</th>
							<td><%= current_user.surname %></td>
						</tr>
                        <tr>
							<th>SEXE</th>
							<td><%= current_user.sexe %></td>
						</tr>
						<tr>
							<th>EMAIL</th>
							<td><%= current_user.email %></td>
						</tr>
						<tr>
							<th>INSCRIT</th>
							<td>depuis <%= current_user.created_at %></td>
						</tr>
					</table>
                </div>

			</div>
			<div class="col-sm-9 body-profile">
				<h3 class="text-center">MES PUBLICATIONS</h3><hr>
                <div class="row">
					<% 10.times do %>
                    <div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">
							  <h3 class="panel-title">20-11-2021 à 08:54</h3>
							  <div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-default btn-xs">Show</button>
								<button type="button" class="btn btn-success btn-xs">Edit</button>
								<button type="button" class="btn btn-danger btn-xs">Delete</button>
							  </div>
							</div>
							<div class="panel-body text-center">
								<img src="/images/maths.jpg" alt="" height="100px">
								<p class="text-justify">
									Lorem ... <em>(voir la suite)</em>
								</p>
							</div>
						</div>
					</div>
                    <% end %>
				</div>
			</div>
		</div>
		<div class="row" style="height: 65px"></div>
	</div>